<?php $this->yellow->layout("about-header") ?>
<div class="content h-entry">
<div class="main e-content" role="main">
<!--Experimental: <a href="https://auth.lifeofpablo.com/login?url=https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?>">Sign in to my site using your domain.</a><p> It's still buggy so you might have to refresh twice to get your domain to show up. </p>
<?php
                                     if($_SERVER['REMOTE_USER'])
			    echo 'Hey , ' . $_SERVER['REMOTE_USER'] . ' !';
			    else
			    echo 'Not logged in';
			    ?>
<?php
if($_SERVER['REMOTE_USER'])
		 echo 'Hey , ' . $_SERVER['REMOTE_USER'] . ' ! <a href="/logout">Logout</a>';
		     else
		         echo 'Please <a href="https://auth.lifeofpablo.com/login?url=https://lifeofpablo.com">Sign in</a>';
			 ?> -->
<div class="about-header h-card">
	<img class="me u-photo" src="https://static.lifeofpablo.com/pabs-cropped.jpg" alt="picture of Pablo" /> 
	    <!-- Title -->
		<h1><a class="u-url u-uid" href="https://lifeofpablo.com"><span class="p-name"><?php echo $this->yellow->page->getHtml("titleContent") ?></span></a></h1> 
		<?php $this->yellow->layout("nav-home") ?>

  </div>

   <div class="p-note" markdown="1">

Hey, I'm Pablo and I'm based in Sacramento. I work in IT in an educational setting. I really enjoy working with technology and improve technology use in education.
   </div>
</div>
      
    </div>
<?php echo $this->yellow->page->getContentHtml() ?>


<div class="mw9 center ph3-ns">
	<div class="cf ph2-ns">
	  <div class="fl w-100 w-50-ns pa2">
		<div class="pv4"><?php $this->yellow->layout("lbp") ?></div>
	  </div>
	  <div class="fl w-100 w-50-ns pa2">
		<div class="pv4"><iframe class="w-100 w-50-ns mw-100" allowfullscreen sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" height="800" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fsocial.lifeofpablo.com%2Fusers%2Fpablo&theme=dark&size=100&header=true&replies=false&boosts=false"></iframe></div>
	  </div>
	</div>
  </div>

</div>
</div>
<?php $this->yellow->layout("footer") ?>
