<?php $this->yellow->layout("header") ?>
<div class="content h-entry">
   <div class="main e-content" role="main">
      
      <!--Experimental: <a href="https://auth.lifeofpablo.com/login?url=https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?>">Sign in to my site using your domain.</a><p> It's still buggy so you might have to refresh twice to get your domain to show up. </p>
         <?php
            if($_SERVER['REMOTE_USER'])
            echo 'Hey , ' . $_SERVER['REMOTE_USER'] . ' !';
            else
            echo 'Not logged in';
            ?>
         <?php
            if($_SERVER['REMOTE_USER'])
            		 echo 'Hey , ' . $_SERVER['REMOTE_USER'] . ' ! <a href="/logout">Logout</a>';
            		     else
            		         echo 'Please <a href="https://auth.lifeofpablo.com/login?url=https://lifeofpablo.com">Sign in</a>';
            			 ?> -->
      <header class="about-header h-card sitename">
        

         <!-- Title -->
         <div class="p-note" markdown="1">
            Hey, I'm Pablo and I'm based in San Francisco. I work as an IT Consultant at Ignition IT. I really enjoy working with technology and improve technology accessibilty.
         </div>
      </header>
   </div>
</div>
<?php echo $this->yellow->page->getContentHtml() ?>
<?php $this->yellow->layout("homepage-vinyls") ?>


<div class="mw9 center ph3-ns">
   <div class="pv4"><?php $this->yellow->layout("lbp") ?></div>
</div>
</div>
</div>
<?php $this->yellow->layout("footer") ?>
