<div class="" data-name="slab-stat-small">
  <div class="cf">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Published Posts</dd>
      <dd class="f3 fw6 ml0"><?php echo "Calulating..." ?></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Current Date</dd>
      <dd class="f3 fw6 ml0"><?php echo  date("Y-m-d") . "<br>"; ?></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Current Time</dd>
      <dd class="f3 fw6 ml0"> <?php
date_default_timezone_set("America/Los_Angeles");
echo  date("H:i") . " Pacific";
?> </dd>
    </dl>
  </div>
</div>
