<div class="" data-name="slab-stat-small">
	<h3 class="f3 ttu tracked"><?php echo "Today is " . date("Y-m-d") . "<br>"; ?></h3>
  <div class="cf">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Published Posts</dd>
      <dd class="f3 fw6 ml0">N/A</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Drafts</dd>
      <dd class="f3 fw6 ml0">N/A</dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">Unlisted</dd>
      <dd class="f3 fw6 ml0">N/A</dd>
    </dl>
  </div>
</div>
