<?php $this->yellow->layout("header") ?>


<div class="content">
   <div class="main h-entry" role="main">
      <h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
      <div class="entry-content e-content"><?php echo $this->yellow->page->getContentHtml() ?></div>
      <div class="pa4">
         <div class="overflow-auto">
            <?php

/**
 * Use an HTML form to create a new entry in the
 * users table.
 *
 */
 require "system/layouts/config.php";
 require "system/layouts/common.php";



try {
  $connection = new PDO($dsn, $username, $password, $options);

  $sql = "SELECT * FROM vinyls ORDER BY title DESC";

  $statement = $connection->prepare($sql);
  $statement->execute();

  $result = $statement->fetchAll();
} catch(PDOException $error) {
  echo $sql . "<br>" . $error->getMessage();
}
?>
        






<div class="h-entry">
<table>
  <tr class="h-item">
    <th>Album</th>
    <th>Artist</th>
    <th>Year</th>
  </tr>
  <?php foreach ($result as $row) : ?>
  <tr>
    <td class="p-name"><a href="https://www.discogs.com/search/?q=%22<?php echo escape($row["title"]); ?> <?php echo escape($row["artist"]); ?>%22&type=all&format_exact=Cassette" class="u-url"><?php echo escape($row["title"]); ?></a></td>
    <td><?php echo escape($row["artist"]); ?></td>
    <td><?php echo escape($row["copyright_year"]); ?></td>
  </tr>
    <?php endforeach; ?>

</table> 

</div>
         </div>
      </div>
      <div class="permalink">Permalink: <a class="u-url" href="https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?>">https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?></a>
      </div>
   </div>
</div>
<?php $this->yellow->layout("footer") ?>
