<?php $this->yellow->layout("header") ?>
<div class="content">
   <div class="main h-entry" role="main">
      <h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
      <div class="entry-content e-content"><?php echo $this->yellow->page->getContentHtml() ?></div>
      <div class="pa4">
         <div class="overflow-auto">
            <table class="f6-ns w-100 mw8 center" cellspacing="0">
               <thead>
                  <tr>
                     <th class="fw6 bb b--black-20 tl pb3 pr3">Title</th>
                     <th class="fw6 bb b--black-20 tl pb3 pr3">Artist</th>
                     <th class="fw6 bb b--black-20 tl pb3 pr3">Publisher</th>
                     <th class="fw6 bb b--black-20 tl pb3 pr3">Year</th>
                     <th class="fw6 bb b--black-20 tl pb3 pr3 ">Date Added</th>
                  </tr>
               </thead>
               <tbody class="lh-copy">
                  <?php
                     $catalog_json = file_get_contents('media/downloads/tapes.json');
                     
                     $decoded_json = json_decode($catalog_json, true);
                     
                     $items = $decoded_json['tapes'];
                     
                     
                     foreach($items as $item) {
                       $name = $item['Title'];
                       $artist = $item['Artist'];
                     	 $year = $item['Year'];
                       $date_added = $item['Date Added'];
                       $publisher = $item['Publisher'];
                     
                       
                     
                       echo '<tr class="h-item">';
                       echo '<td class="pv3 pr3 bb b--black-20 p-name"><a href="https://www.discogs.com/search/?q=%22'.$name.' '.$artist.'%22&type=all&format_exact=CD" class="u-url">'.$name.'</td>';
                       echo '<td class="pv3 pr3 bb b--black-20">'.$artist.'</td>';
                       echo '<td class="pv3 pr3 bb b--black-20">'.$publisher.'</td>';
                       echo '<td class="pv3 pr3 bb b--black-20">'.$year.'</td>';
                       echo '<td class="pv3 pr3 bb b--black-20">'.$date_added.'</td>';
                       echo '</tr>';
                     
                     
                     }
                     ?>
               </tbody>
            </table>
         </div>
      </div>
      <div class="permalink">Permalink: <a class="u-url" href="https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?>">https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?></a>
      </div>
   </div>
</div>
<?php $this->yellow->layout("footer") ?>
