<?php $this->yellow->layout("header") ?>
<div class="content">
<div class="main h-entry" role="main">
  <header class="tc ph4">
    <h1 class="f3 f2-m f1-l fw2 mv3">
      <?php echo $this->yellow->page->getHtml("titleContent") ?>
    </h1>
    <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
      <?php echo $this->yellow->page->getHtml("Description") ?>
    </h2>
  </header>
  
  
<div class="entry-content e-content"><?php echo $this->yellow->page->getContentHtml() ?></div>


<?php $catalog_json = file_get_contents('media/downloads/vinyls.json');

  $decoded_json = json_decode($catalog_json, true);
  
  $items = $decoded_json['vinyls'];
  

   $one_item = $items[rand(0, count($decoded_json['vinyls']) - 1)];
    $id = $one_item['id'];
    $name = $one_item['title'];
    $artist = $one_item['artist'];
	  $cover = $one_item['thumbnail_url'];
    $info_url = $one_item['info_url'];
    $year = $one_item['copyright_year'];
    $label = $one_item['label'];


   echo '<a class="db center mw5 tc black link dim" title="'.$name.'"';
   echo 'href="'.$info_url.'">';
   echo '';
   echo '<img class="db ba b--black-10"/';
   echo 'alt="'.$name.' Album Cover"';
   echo 'src="'.$cover.'"';
   echo '>';
   echo '';
   echo '<dl class="mt2 f6 lh-copy">';
   echo '<dt class="clip">Title</dt>';
   echo '<dd class="ml0">'.$name.'</dd>';
   echo '<dt class="clip">Artist</dt>';
   echo '<dd class="ml0 gray">'.$artist.'</dd>';
   echo '</dl>';
   echo '</a>';
   echo '';
   echo '';

  ?>
<section class="cf w-100 pa2-ns">
  <?php
$catalog_json = file_get_contents('media/downloads/vinyls.json');

$decoded_json = json_decode($catalog_json, true);

$items = $decoded_json['vinyls'];


foreach($items as $item) {
  $id = $item['id'];
  $name = $item['title'];
  $artist = $item['artist'];
	$cover = $item['thumbnail_url'];
  $info_url = $item['info_url'];
  $year = $item['copyright_year'];
  $label = $item['label'];

  
    echo '<article class="fl w-100 w-50-m h-item w-25-ns pa2-ns" id="'.$id.'">';
    echo '<div class="aspect-ratio aspect-ratio--1x1">';
    echo '<img src="'.$cover.'" alt="'.$name.' album cover" class="u-photo db bg-center cover aspect-ratio--object" />';
    echo '</div>';
    echo '<a href="'.$info_url.'" class="u-url ph2 ph0-ns pb3 link db">';
    echo '<h3 class="f5 f4-ns mb0 black-90 p-name">'.$name.'</h3>';
    echo '<h3 class="f6 f5 fw4 mt2 black-60 wrap">'.$artist.'</h3>';
    echo '<h3 class="f6 f5 fw4 mt2 black-60 wrap">'.$year.' '.$label.'</h3>';
    echo '</a>';
    echo '</article>';

}
?>
<style type="text/css" media="all">
  :target {
      -webkit-animation: target-fade 10s 1;
      -moz-animation: target-fade 10s 1;
  }
  
  @-webkit-keyframes target-fade {
      0% { background-color: rgba(255, 163, 215, 1); }
      100% { background-color: rgba(255, 163, 215, 1); }
  }
  
  @-moz-keyframes target-fade {
      0% { background-color: rgba(255, 163, 215, 1); }
      100% { background-color: rgba(255, 163, 215, 1); }
  }
  </style>
</section>


<div class="permalink">Permalink: <a class="u-url" href="https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?>">https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?></a>
         </div>
</div>
</div>
<?php $this->yellow->layout("footer") ?>


