<?php $this->yellow->layout("header") ?>
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>


<?php

/**
 * Use an HTML form to create a new entry in the
 * users table.
 *
 */
 require "system/layouts/config.php";
 require "system/layouts/common.php";



try {
  $connection = new PDO($dsn, $username, $password, $options);

  $sql = "SELECT * FROM vinyls ORDER BY title DESC";

  $statement = $connection->prepare($sql);
  $statement->execute();

  $result = $statement->fetchAll();
} catch(PDOException $error) {
  echo $sql . "<br>" . $error->getMessage();
}
?>
        

<div class="pa4 mt0 measure center">
  <?php foreach ($result as $row) : ?>
  <p id="<?php echo escape($row["id"]); ?>"><a href="https://duckduckgo.com/?t=ffab&q=<?php echo escape($row["title"]); ?>+<?php echo escape($row["artist"]); ?>"><?php echo escape($row["title"]); ?></a></p>
  <p><a href="https://duckduckgo.com/?t=ffab&q=<?php echo escape($row["artist"]); ?>"><?php echo escape($row["artist"]); ?></a></p>
  <p><?php echo escape($row["date"]); ?></p>
  <p><?php echo escape($row["id"]); ?></p>
  <?php endforeach; ?>


  echo '<tr class="h-item">';
    echo '<td class=" p-name"><a href="https://www.discogs.com/search/?q=%22'.$name.' '.$artist.'%22&type=all&format_exact=Cassette" class="u-url">'.$name.'</td>';
    echo '<td class="">'.$artist.'</td>';
    echo '<td class="">'.$publisher.'</td>';
    echo '<td class="">'.$year.'</td>';
    echo '<td class="">'.$date_added.'</td>';
    echo '</tr>';
</div>

  <?php $this->yellow->layout("footer") ?>
