@import url();
@import url(https://cdn.simplecss.org/simple.css);

:root,
::backdrop {
  color-scheme: dark;
  --editor-bg: #212121;
  --editor-text: #dcdcdc;
}

header h1 {
    text-align: center;
    padding-top: 1em;
}

header h1 a:link, header h1 a:hover {
    text-decoration: none;
}

.entry-meta .u-photo {
    width: 1em;
    height: auto;
    border-radius: 50%;
    z-index: 2;
}

.yellow-edit-text {
    background-color: var(--editor-bg)
}

.pabstech {
    background-color: #dcdcdc;
}

.link i {
    font-size: 2em;
    justify-content: space-between;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  
  .link { 
    text-decoration: none; 
    padding: .5em;
  }