<?php $this->yellow->layout("header") ?>
<div class="content">
<div class="main h-entry" role="main">
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
<div class="entry-content e-content"><?php echo $this->yellow->page->getContentHtml() ?></div>
<div class="mw6 center">
<?php
$catalog_json = file_get_contents('media/downloads/movies.json');

$decoded_json = json_decode($catalog_json, true);

$items = $decoded_json['movies'];

foreach($items as $item) {
	$id = $item['id'];
  $name = $item['title'];
	$cover = $item['cover'];
  $info_url = $item['info_url'];



  
    echo '<article class="h-item">';
    echo '<a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue u-url" href="'.$info_url.'">';
    echo '<div class="dtc w4">';
    echo '<img src=" '.$cover. '" class="db w-100 u-photo" alt="movie poster of '.$name.'"/>';
    echo '</div>';
    echo '<div class="dtc v-top pl2">';
    echo '<h1 class="f6 f5-ns fw6 lh-title black mv0 p-name">'.$name.'</h1>';
    echo '<dl class="mt2 f6">';
    echo '<dt class="clip">ID</dt>';
    echo '<dd class="ml0">ID: '.$id.'</dd>';
    echo '</dl>';
    echo '</div>';
    echo '</a>';
    echo '</article>';


}
?>
</div>

<div class="permalink">Permalink: <a class="u-url" href="https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?>">https://lifeofpablo.com<?php echo $this->yellow->page->getLocation($absoluteLocation = false) ?></a>
         </div>
</div>
</div>
<?php $this->yellow->layout("footer") ?>


