<?php $this->yellow->layout("header") ?>
<div class="content">
    <div class="main" role="main">
        <h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
        
        <div class="podcast-list">
            <?php foreach ($this->yellow->page->getPages("podcast") as $page): ?>
                <article style="margin-bottom: 30px;">
                    <h3><a href="<?php echo $page->getLocation(true) ?>"><?php echo $page->getHtml("title") ?></a></h3>
                    <p><small><?php echo $page->getDateHtml("published") ?> | Duration: <?php echo $page->getHtml("duration") ?></small></p>
                </article>
            <?php endforeach ?>
        </div>

        <?php $this->yellow->layout("pagination", $this->yellow->page->getPages("podcast")) ?>
    </div>
</div>
<?php $this->yellow->layout("footer") ?>