<?php $this->yellow->layout("header") ?>
<h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>


<?php

/**
 * Use an HTML form to create a new entry in the
 * users table.
 *
 */
 require "system/layouts/config.php";
 require "system/layouts/common.php";

if (isset($_POST['submit'])) {
  if (!hash_equals($_SESSION['csrf'], $_POST['csrf'])) die();

  try  {
    $connection = new PDO($dsn, $username, $password, $options);
    
    $new_song = array(
      "title" => $_POST['title'],
      "artist"  => $_POST['artist'],
      "contact"     => $_POST['contact'],
      "note"     => $_POST['note']
      );

    $sql = sprintf(
      "INSERT INTO %s (%s) values (%s)",
      "music_recs",
      implode(", ", array_keys($new_song)),
      ":" . implode(", :", array_keys($new_song))
    );
    
    $statement = $connection->prepare($sql);
    $statement->execute($new_song);
  } catch(PDOException $error) {
      echo $sql . "<br>" . $error->getMessage();
  }
}
?>

  <?php if (isset($_POST['submit']) && $statement) : ?>
    <blockquote>The song, <em><?php echo escape($_POST['title']); ?></em> successfully added. Thanks for the recommendation!</blockquote>
  <?php endif; ?>

  <script>
window.addEventListener("load", function() {
  const form = document.getElementById('song-recs');
  form.addEventListener("submit", function(e) {
    e.preventDefault();
    const data = new FormData(form);
    const action = e.target.action;
    fetch(action, {
      method: 'POST',
      body: data,
    })
    .then(() => {
      alert("Success!");
    })
  });
});


  </script>
  <div class="entry-content e-content"><?php echo $this->yellow->page->getContentHtml() ?></div>

  <form id="song-recs"
  method="POST" 
  action="https://script.google.com/macros/s/AKfycbynIqSSrPbQWfEd5NUAj2adfDP63FKKmaB-uCd8ZSqvOhFYmH7Vx9KQN7ersdKhODgPow/exec"
>
  <p>Song Title</p>
  <input name="title" type="text" placeholder="Title" required>
  <p>Artist</p>
  <input name="artist" type="text" placeholder="Artist" required>
  <p>Why do you like this song recommendation (Optional)?</p>

  <textarea  name="note" rows="4" cols="50" placeholder="What's the story?"></textarea>
  <p>You got a blog? A website? Email? Mastodon? Other platform? (Optional)</p>
  <input name="contact" type="text" placeholder="Contact" >
   <br />
  <button type="submit">Send</button>
</form>

  <?php $this->yellow->layout("footer") ?>
